* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ffb900;
  --font-heading: Sen, sans-serif;
}

html {
  font-size: 62.5%;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ===============Common============== */
.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  background: #171100;
  border-radius: 24.5px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 50px;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.break-all {
  word-break: break-all;
}
/* ==============Header================= */
.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header .body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 36px 0 8px;
}

.navbar {
  margin-left: auto;
}

.navbar ul {
  display: flex;
}

.navbar ul a {
  position: relative;
  padding: 8px 21px;
  color: #5f5b53;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8;
}

.navbar ul a:hover {
  font-weight: 600;
  color: #171100;
  text-shadow: 0.8px 0 0 currentColor;
}

.navbar li.active a {
  font-weight: 600;
  color: #171100;
}

.navbar .active a::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 12px;
  height: 2px;
  flex-shrink: 0;
  border-radius: 1px;
  background: #171100;
  bottom: 6px;
  left: 21px;
}

.header .btn-action {
  text-align: center;
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}

/* ==========Hero========== */
.hero {
  padding: 56px 0 65px;
  background: #fffcf4;
}

.hero .body {
  display: flex;
}

/* hero-left */
.media-block {
  position: relative;
  width: 62%;
}

.hero .media-block .image {
  width: 470px;
  height: 685px;
  flex-shrink: 0;
  object-fit: cover; /*Thay ảnh khác vẫn giữ được tỉ lệ*/
  border-radius: 20px;
}

.hero .hero-summary {
  position: absolute;
  right: 0;
  bottom: 48px;
  padding: 24px;
  border-radius: 12px;
  width: 270px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .item + .item {
  /*Các class item có class item là đầu tiên và đứng ngay sau*/
  margin-top: 22px;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero .info .label {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}

.hero .info .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

/* hero-right */
.hero .content-block {
  margin: 64px 0 0 130px;
  width: 52%;
}

.hero .content-block .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -1.16px;
}

.hero .content-block .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

.hero .cta-group {
  display: flex;
  align-items: center;
  margin: 38px 0 48px;
}

.hero .cta-group .cta-btn {
  min-width: 180px;
  line-height: 64px;
  text-align: center;
  border-radius: 32px;
  background: var(--primary-color);
}

.hero .cta-group .video {
  display: flex;
  margin-left: 28px;
  border: none; /*bỏ viền button*/
  background: transparent;
  cursor: pointer;
}

.cta-group .video a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-group .video .play-video {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.cta-group .video .watch-video {
  width: 148px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2;
}

.hero .stats {
  margin: 8px 0 0 -28px;
}

.hero .stats strong {
  padding: 0 8px 0 28px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
}

/* ===========Courses============ */
.popular {
  padding: 65px 0; /*Nếu có màu thì ko bị sát chữ*/
  margin: 135px;
}

.popular-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.76px;
}

.popular .popular-top .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

.popular .control {
  display: flex;
  gap: 18px;
}

.popular-top .control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: var(--primary-color);
  border: 1.5px solid var(--primary-color);
  background: transparent;
  border-radius: 50%;
}

.popular-top .control-btn:hover {
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

/* Course-list */
.popular .course-list {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}

.popular .course-item {
  flex: 1;
  background: #fff;
  border-radius: 12px;
  border: 1px solid #e2dfda;
}

.popular .course-item:hover {
  border-color: transparent;
  box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.1);
}

.popular .course-item .thumb {
  width: calc(100% + 2px);
  height: 278px;
  flex-shrink: 0;
  object-fit: cover;
  margin: -1px;
  border-radius: 12px 12px 0px 0px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.popular .course-item .info {
  padding: 16px 22px 22px;
}

.popular .course-item .head,
.popular .course-item .foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .course-item .title a {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.popular .course-item .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}

.popular .foot {
  margin-top: 12px;
}

.popular .foot .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.popular .foot .book-btn {
  border: none;
}

.popular .foot .book-btn:hover {
  color: #fff;
  background: var(--primary-color);
}

/* ===================Feedback================= */
.feedback {
  margin-top: 135px;
  background: #2e2100;
  padding: 96px 0;
}

.feedback .feedback-item {
  display: flex;
  align-items: center;
  width: 100%;
  flex-shrink: 0;
}

.feedback-item .info .avatar {
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 50%;
  object-fit: cover;
  background: url(<path-to-image>) lightgray -51.126px -33.052px / 228.267%
    342.4% no-repeat;
}

.feedback-item .info .name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42;
}

.feedback-item .info .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}

.feedback-item .info .dots {
  margin-top: 28px;
  width: 30px;
  height: 6px;
  flex-shrink: 0;
}

.feedback-item .sub-content {
  width: 66%; /*set width cho phần chứa icon lời dẫn + trích dẫn*/
  margin-left: auto;
}

.feedback-item .sub-content blockquote {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.54;
  margin-left: 30px;
}

/* =================Features 1================= */
.features {
  padding: 65px 0;
  margin: 135px;
}

.features .body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features .images {
  display: flex;
  gap: 0 30px;
}

.features .images .img {
  width: 270px;
  height: 405px;
  flex-shrink: 0;
  border-radius: 16px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.features .images .img-left {
  margin-top: 34px;
}

.features .sub-content {
  width: 41%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.features .sub-content .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27;
  letter-spacing: -0.76px;
}

.features .sub-content .desc {
  margin-top: 18px;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.features .sub-content .feat-btn {
  margin-top: 32px;
  min-width: 137px;
  background: var(--primary-color);
  border: none;
}

/* ================Features 2=============== */
.features-2 .features-left {
  width: 49%;
}

.features-2 .title {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27;
  letter-spacing: -0.76px;
}

.features-2 .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.features-2 .feat-2-btn {
  margin-top: 32px;
  min-width: 137px;
  flex-shrink: 0;
  border: none;
  background: var(--primary-color);
}

.features-2 .images {
  width: 470px;
  height: 440px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 20px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

/* =================Blog================== */
.blog {
  padding: 96px 0;
  background: #fffcf4;
}

.blog .head {
  text-align: center;
}

.blog .head .title {
  color: #130606;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27;
  letter-spacing: -0.76px;
}

.blog .head .desc {
  width: 448px; /*Khi đặt width thẻ p đó bị giới hạn nhỏ lại nên text-align: center sẽ căn giữa ở đoạn nhỏ đó và bị lệch đi*/
  margin: 16px auto;
  color: #696262;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.blog .blog-item {
  margin-top: 55px;
  display: flex;
  gap: 30px;
  flex-shrink: 0;
}

.blog .item {
  width: calc(33.33% - 20px);
  background: #fff;
  border-radius: 16px;
}

.blog .item:hover {
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog .item .thumb {
  width: 370px;
  height: 250px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.blog .item .info {
  padding: 20px 20px 28px 20px;
}

.blog .item .date {
  position: relative;
  display: flex;
  align-items: center;
  color: #5f5b53;
  padding-bottom: 12px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}

.blog .item .date::before {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  margin-right: 4px;
  border-radius: 50%;
  flex-shrink: 0;
  background: var(--primary-color);
}

.blog .item .date::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  content: "";
  width: 160px;
  height: 1px;
  flex-shrink: 0;
  border-radius: 0.5px;
  background: #e2dfda;
}

.blog .item .read {
  margin-top: 13px;
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.blog .blog-btn {
  margin-top: 12px;
  text-align: center;
  border: none;
  flex-shrink: 0;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
}

.blog .blog-btn:hover {
  background: var(--primary-color);
}

.blog .dots {
  display: flex;
  margin: 38px auto 0 auto;
  cursor: pointer;
}

/* =================Footer=============== */
.footer {
  padding: 96px 135px 0;
  background: #2e2100;
}

.footer .row {
  display: flex;
  padding-bottom: 38px;
  border-bottom: 1px solid #59554b;
}

.footer .row .column {
  width: 21.6%; /*65%/3*/
}

.footer .row .column:first-child {
  width: 35%;
}

.footer .desc {
  margin-top: 18px;
  max-width: 264px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
  --line-clamp: 3;
}

.footer .social {
  margin-top: 18px;
}

.footer .title {
  display: inline-block;
  color: #fff;
  padding: 0 48px 14px 0; /*padding-right để tăng width để tăng width border-bottom lên*/
  border-bottom: 1px solid #59554b;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.footer a.item {
  display: block;
  margin-top: 12px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}

.footer .column .item:first-of-type {
  margin-top: 28px;
}

.footer .column:nth-of-type(4) {
  max-width: 231px;
}

.footer .item strong {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.86;
}

.footer .copyright {
  padding: 28px 0;
  color: #807d74;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}
